################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ecomindo.Riset.DKatalis/.vs/Ecomindo.Riset.DKatalis/v16
/Ecomindo.Riset.DKatalis/GojekParkingLotBLL/obj
/Ecomindo.Riset.DKatalis/GojekParkingLotConsole/obj
/Ecomindo.Riset.DKatalis/GojekParkingLotDAL/obj
/Ecomindo.Riset.DKatalis/GojekParkingLotBLL/bin/Release/netcoreapp3.1/publish
/Ecomindo.Riset.DKatalis/GojekParkingLotBLL/bin/Release/netcoreapp3.1
/Ecomindo.Riset.DKatalis/GojekParkingLotConsole/bin
/Ecomindo.Riset.DKatalis/GojekParkingLotDAL/bin/Release/netcoreapp3.1/publish
/Ecomindo.Riset.DKatalis/GojekParkingLotDAL/bin/Release/netcoreapp3.1
/Ecomindo.Riset.DKatalis/.vs/Ecomindo.Riset.DKatalis/DesignTimeBuild
/Ecomindo.Riset.DKatalis/GojekParkingLotBLL/bin/Debug/netcoreapp3.1
/Ecomindo.Riset.DKatalis/GojekParkingLotDAL/bin/Debug/netcoreapp3.1
/Ecomindo.Riset.DKatalis/GojekParkingLotTests/bin/Debug/netcoreapp3.1
/Ecomindo.Riset.DKatalis/GojekParkingLotTests/obj
/Ecomindo.Riset.DKatalis/GojekParkingLot.Tests.Nunit/obj
/Ecomindo.Riset.DKatalis/TestResults/dca3b26d-2148-4fb4-ad5b-a97a8b5e15b1
/Ecomindo.Riset.DKatalis/TestResults/f2151588-d3f9-4283-9bcc-d85168e54978
